
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">driverName</th>
    <th scope="col">carMake</th>
    <th scope="col">driverCityOrigin</th>
    <th scope="col">driverGender</th>
    <th scope="col">driverLanguage</th>
    <th scope="col">driverPhone</th>
    <th scope="col">kmDriven</th>
    <th scope="col">location</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let driver of drivers">
    <td>{{driver.driverName}}</td>
    <td>{{driver.carMake}}</td>
    <td>{{driver.driverCityOrigin}}</td>
    <td>{{driver.driverGender}}</td>
    <td>
      <img [src]="'https://lipis.github.io/flag-icon-css/flags/4x3/' + driver.driverLanguage + '.svg'" class="mr-2" style="width: 20px">
      <small>({{driver.driverLanguage}})</small>
    </td>
    <td>{{driver.driverPhone}}</td>
    <td>{{driver.kmDriven}}</td>
    <td>
      <a href="https://www.google.com/maps/search/?api=1&query={{driver.lat}},{{driver.lon}}" target="_blank">
        Show on the map: {{driver.location}}
      </a>
    </td>
  </tr>
  </tbody>
</table>
