
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">driverName</th>
    <th scope="col">carMake</th>
    <th scope="col">driverCityOrigin</th>
    <th scope="col">driverGender</th>
    <th scope="col">driverLanguage</th>
    <th scope="col">driverPhone</th>
    <th scope="col">kmDriven</th>
    <th scope="col">location</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let driver of drivers">
    <th scope="row">{{driver.driverName}}</th>
    <th scope="row">{{driver.carMake}}</th>
    <th scope="row">{{driver.driverCityOrigin}}</th>
    <th scope="row">{{driver.driverGender}}</th>
    <th scope="row">
      <img [src]="'https://lipis.github.io/flag-icon-css/flags/4x3/' + driver.driverLanguage + '.svg'" class="mr-2" style="width: 20px">
      <small>({{driver.driverLanguage}})</small>
    </th>
    <th scope="row">{{driver.driverPhone}}</th>
    <th scope="row">{{driver.kmDriven}}</th>
    <th scope="row">
      <a href="https://www.google.com/maps/search/?api=1&query=0,1" target="_blank">
        latitude: 0
        longitude: 1</a>
      {{driver.location}}</th>
  </tr>
  </tbody>
</table>
