<div class="" *ngFor="let driver of drivers">

</div>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Country</th>
    <th scope="col">Area</th>
    <th scope="col">Population</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let driver of drivers">
    <th scope="row">{{driver.driverName}}</th>
    <th scope="row">{{driver.driverName}}</th>
    <th scope="row">{{driver.driverName}}</th>
    <th scope="row">{{driver.driverName}}</th>
  </tr>
  </tbody>
</table>
